@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Edu+SA+Beginner&family=Fira+Sans&family=Heebo:wght@200;300&family=Lato&family=Montserrat&family=Poppins:wght@300&family=Roboto:ital@0;1&family=Rubik&display=swap');

/* 
font-family: 'Belanosima', sans-serif;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; 
font-family: 'Lato', sans-serif;
*/
:root {
    --primary-color: rgb(255, 24, 24);
    --secondary-color: rgb(250, 98, 47);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 1000;
  background-color: rgb(240, 240, 240);
}

.logo img {
    width: 15%;
    object-fit: contain;
    height: 100%;
    padding: 10px 0;

}

.logo {
    margin-left: 2rem;
}

.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink {
    list-style: none;
    margin: auto 2rem;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.navlink a {
    text-decoration: none;
    color: var(--primary-color)
}



.menu-icon {
    display: none;
    margin: 1.5rem;
}

.hidden {
    display: none;
}

.side-navlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-navlist li{
    font-size: 1.6rem;
    margin: 1rem 0;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    width: 250px;
    background-color: #f0f0f0;
    padding-top: 50px;
    transition: left 0.3s ease;
    z-index: 1000;
}

@media screen and (max-width: 767px) {
    .navlist {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .hero-content {
        text-align: center;
        padding: 1rem;
    }

    .about-div {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .about-div-1 h2 {
        padding-top: 2rem;
        margin: 8px !important;
        font-size: 2rem;
        margin-bottom: 1rem;
        color: var(--primary-color);
    }

    .about-div-1 p {
        margin: 8px !important;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        width: 90%;
    }

    .about-div-1 {
        width: 100%;
        margin: 0;
    }

    .about-div-2 {
        width: 100%;
    }

    .carousel img {
        width: 100%;
        /* height: 100%; */
    }


}
.container{
    margin-top: 5rem;
}

/* style for home page --------- */


/* * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  max-width: 50vw;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #070707;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* .carousel-container {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    height: 100%;
} */


.hero-section {
    background-image: url('./assets/homebg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.hero-content {
    text-align: center;
}

.hero-text {
    /* background-color: rgba(255, 255, 255, 0.29); */
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;

}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow:
        -1px -1px 0 var(--primary-color),
        1px -1px 0 var(--primary-color),
        -1px 1px 0 var(--primary-color),
        1px 1px 0 var(--primary-color);
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color) !important;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 2rem;
    transition: background-color 0.3s;
}

.btn:hover,
.form-btn:hover {
    background-color: var(--secondary-color) !important;
}

.about-div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.about-div img {
    object-fit: cover;
    width: 100%;
}

.about-div-1 {
    /* width: 50%; */
    margin: 1rem;
}

.about-div-2 {
    /* width: 50%; */
}

.h2 {
    text-align: center;
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.about-div-1 h2 {
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.about-div-1 p {
    margin-left: 2rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/* about section styles --------------- */
@media screen and (max-width: 767px) {
    .about-parent {
        display: flex !important;
        flex-direction: column;
        padding: 10px;

    }

    .about-div1 h2 {
        padding-top: 2rem;
        margin: 8px !important;
        font-size: 3rem;
        color: var(--primary-color);

    }

    .about-div1 p {

        margin: 8px !important;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        font-weight: 500;
    }

    .foot-logo {
        display: none;
    }
}

.about-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

.about-div1 {
    grid-area: 1 / 1 / 3 / 3;
    background-size: cover;
    background-position: center;
    height: fit-content;
}

.about-div1 h2 {
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;

}

.about-div1 p {

    margin-left: 2rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.about-div2 {
    grid-area: 1 / 3 / 3 / 5;
    padding: 2rem;
}

.about-div2 img {
    width: 100%;
    object-fit: contain;
}

.about-div3 h6 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-size: 1rem;
}

.about-div3 h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    color: var(--primary-color);
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.about-div3 p {
    font-family: 'Heebo', sans-serif;
}


.about-div4 {
    grid-area: 3 / 3 / 5 / 5;
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

.about-div3 {
    grid-area: 3 / 1 / 5 / 3;
    padding: 2rem;
}

.about-div1 img {
    width: 100%;
    height: 50vh;
}

.about-div4 img {
    width: 100%;
}



/* styles for contact page  */

@media screen and (max-width: 767px) {
    .cont-con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
    }

    .content-container {
        position: absolute;
        bottom: 10px;
        left: 10% !important;
        width: 80% !important;
        background-color: rgba(255, 255, 255, 0.694);
        padding: 10px;
        margin: 0 auto;
        display: flex;
        border: 1px solid black;
    }

    .map {
        width: 95%;
        height: 80vh !important;
        margin: 0 1rem !important;
    }

    .form {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 90% !important;
        margin: 0 1rem;
    }

    .con-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 0.5fr);
        grid-column-gap: 5px;
        grid-row-gap: 2rem;
    }

    .con-div1 {
        grid-area: 1 / 1 / 2 / 2 !important;
    }

    .con-div2 {
        grid-area: 1 / 2 / 2 / 3 !important;
    }

    .con-div3 {
        grid-area: 2 / 1 / 3 / 2 !important;
    }

    .con-div4 {
        grid-area: 2 / 2 / 3 / 3 !important;
    }

    .con-div4 p {
        display: flex;
    }
    .cont-head{
        color: var(--primary-color);
        text-align: center;
        padding: 1rem;
        font-size: 2rem!important;
    }
    .map-container{
        margin: 1rem 0;
    }
}

.cont-con {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.cont-head{
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}


.form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 60%;
    margin: 0 1rem;
    border-radius: 8px;
    background-color: #888888;
    padding: 1rem;
}
.form:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.form input {
    border: 1px solid black;
    background-color: rgb(234, 234, 234);
    margin: 1rem;
    height: 8vh;
    padding: 0 1rem;
    border-radius: 8px;

}

.form input:focus {
    outline: none;
}

.form-btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color) !important;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    margin: 1rem;
    border: 1px solid black;
}

.map-container {
    position: relative;
    width: 100%;
}

.map {
    width: 95%;
    height: 100%;
    margin: 0 1rem !important;
}

.content-container {
    position: absolute;
    bottom: 10px;
    left: 30%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.694);
    padding: 10px;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
}

.content-container h3 {
    font-size: 1rem;
    text-align: center;
}

.content-container p {
    font-size: 0.8rem;
    text-align: center;
}

.add-div {
    background-color: rgba(223, 223, 223, 0.806);
    margin: 2px;
}



.con-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;
    margin: auto;
    margin: 4rem 0;
    padding: 2rem;
    background-color: #161616;
    box-shadow: 0px 10px 5px gray;
}

.con-div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.con-div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.con-div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.con-div4 {
    grid-area: 1 / 4 / 2 / 5;
}

.con-div1,
.con-div2,
.con-div3,
.con-div4 {
    text-align: center;
}

.con-div1 img,
.con-div2 img,
.con-div3 img,
.con-div4 img {
    filter: invert(100%);
}
.con-div1 h3,
.con-div2 h3,
.con-div3 h3,
.con-div4 h3{
    color: white;
}
.con-div1 p,
.con-div2 p,
.con-div3 p,
.con-div4 p{
    color: white;
}




.icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 6px;
    margin: 8px;
}

.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px !important;
    width: 50px;
    text-decoration: none;
}

.fa-facebook {
    color: rgb(58, 136, 246);
}

.fa-instagram {
    color: rgb(253, 95, 42);
}

/* styles for product page  */

@media screen and (max-width: 767px) {
    .card-parent {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(5, 1fr) !important;
        grid-column-gap: 0px !important;
        grid-row-gap: 5px !important;
    }

    .card-div1 {
        grid-area: 1 / 1 / 2 / 3 !important;
    }

    .card-div2 {
        grid-area: 2 / 1 / 3 / 3 !important;
    }

    .card-div3 {
        grid-area: 3 / 1 / 4 / 3 !important;
    }

    .card-div4 {
        grid-area: 4 / 1 / 5 / 3 !important;
    }

    .card-div5 {
        grid-area: 5 / 1 / 6 / 3 !important;
    }
}


.product-head h2 {
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
    margin: 2rem;
}

.product-head p {
    text-align: center;
    margin: 2rem;
    font-family: 'Heebo', sans-serif;
}

.card-parent {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(4, 4fr);
    grid-column-gap: 0px;
    grid-row-gap: 2rem;
}

.card {
    margin: 10px 2rem;
    height: 98%;
    background-color: #ebebeb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card h2 {
    margin: 8px 1rem;
    color: var(--primary-color);
}

.card p {
    margin: 8px 1rem;
}

.card a {
    margin: 8px 1rem;
    color: var(--primary-color);
    text-decoration: none;
}


.card-img {
    margin: 8px;
    
}

.card-img img {
    width: 90%;
    object-fit: cover;
    margin: 1rem;
    border-radius: 8px;
}

.card-div1 {
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
}

.card-div2 {
    grid-area: 1 / 2 / 3 / 3;
    width: 100%;
}

.card-div3 {
    grid-area: 1 / 3 / 3 / 4;
    width: 100%;
}

.card-div4 {
    grid-area: 3 / 1 / 5 / 2;
    width: 100%;
}

.card-div5 {
    grid-area: 3 / 2 / 5 / 3;
    width: 100%;
}

.card-div6 {
    grid-area: 3 / 3 / 5 / 4;
    width: 100%;
}


/* product info page  */

@media screen and (max-width: 767px) {
    .prod-parent {
        display: grid !important;
        grid-template-columns: repeat(2, 0.5fr) !important;
        grid-template-rows: repeat(6, 0.5fr) !important;
        grid-column-gap: 0px !important;
        grid-row-gap: 5px !important;
    }

    .prod-div1 {
        grid-area: 1 / 1 / 2 / 3 !important;
    }

    .prod-div2 {
        grid-area: 2 / 1 / 3 / 3 !important;
    }

    .prod-div3 {
        grid-area: 3 / 1 / 4 / 3 !important;
    }

    .prod-div4 {
        grid-area: 4 / 1 / 5 / 3 !important;
    }

    .prod-div5 {
        grid-area: 5 / 1 / 6 / 3 !important;
    }

    .prod-div6 {
        grid-area: 6 / 1 / 7 / 3 !important;
    }

    .prod-div3 img {
        object-fit: contain;
        width: 90% !important;
    }

    .prod-div5 img,
    .prod-div6 img {
        object-fit: contain;
        width: 90% !important;
    }
}

.prod-parent {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(5, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 2rem;
}

.prod-div1 {
    grid-area: 1 / 1 / 2 / 2;

}

.prod-div1 h2 {
    font-size: 3rem;
    margin: 8px 1rem;
    color: var(--primary-color);
}

.prod-div1 p {
    margin: 8px 1rem;

}

.prod-div2 {
    grid-area: 2 / 1 / 3 / 2;

}

.prod-div2 p {
    margin: 8px 1rem;
}

.prod-div2 span {
    color: var(--primary-color);
    font-weight: bold;

}

.prod-div3 {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    justify-content: center;

}

.prod-div3 img {
    object-fit: contain;
    width: 60%;
}

.prod-div4 {
    grid-area: 3 / 1 / 4 / 3;
    border-top: 2px dashed var(--primary-color);
}

.prod-div4 h2 {
    text-align: center;
    font-size: 2rem;
    margin: 8px 1rem;
    padding-top: 1rem;
    color: var(--primary-color);
}

.prod-div4 p {
    text-align: center;
    margin: 8px 1rem;

}

.prod-div5 {
    grid-area: 4 / 1 / 6 / 2;
    display: flex;
    justify-content: center;
}

.prod-div6 {
    grid-area: 4 / 2 / 6 / 3;
    display: flex;
    justify-content: center;
}

.prod-div5 img,
.prod-div6 img {
    object-fit: contain;
    width: 60%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(227, 227, 227);
}

footer {
    margin-top: 1rem;
}

.foot-logo {
    width: 10%;
}

.foot-logo img {
    width: 100%;
}